* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  height: 70px;
  position: relative;
  background-image: url(../img/pattern.png);
  background-size: 300px;
  background-color: #4ea0ff;
}

header img {
  width: 150px;
  position: absolute;
  bottom: 2px;
  left: 15px;
}

#corpo_pagina {
  margin-left: 5px;
}

.margin_top {
  margin-top: 10px;
}
h1 {
  font-size: 30px;
}

.font_roboto {
  font-family: "Roboto", sans-serif;
}

.colore_grigio {
  color: #929292;
}

.colore_azzurro {
  color: #1ca7e4;
}

.font_size_11 {
  font-size: 11px;
}
